# 📦 {{ env['ORG'] }} Homebrew Tap

Welcome to {{ env['ORG'] }}'s [Homebrew Tap](https://github.com/Homebrew/homebrew-cask). This repository contains custom casks for applications not available in the main tap.

## 🚀 How to Install {{ env['ORG'] }}'s Homebrew Tap

To add this tap to your local Homebrew installation, open your terminal and run:

```shell
brew tap {{ env['ORG'] }}/{{ env['REPO'] }}
```

## 🛠️ Applications

<table>
  <thead>
    <tr>
      <th>Application</th>
      <th>Description</th>
      <th>Version</th>
      <th>License</th>
      <th>Cask</th>
    </tr>
  </thead>
  <tbody>
  {%- for app in apps %}
    <tr>
      <td><strong><a href="{{ app.homepage }}">{{ app.name }}</a></strong></td>
      <td>{{ app.description }}</td>
      <td><code>{{ app.version }}</code></td>
      <td>{{ app.license }}</td>
      <td><a href="{{ app.name }}.rb">Cask</a></td>
    </tr>
    <tr>
      <td colspan="5">
        <pre><code>brew install {{ env['ORG'] }}/{{ env['REPO'] }}/{{ app.name }}</code></pre>
      </td>
    </tr>
  {%- endfor %}
  </tbody>
</table>
